@import "./variables.scss";

body {
	background: linear-gradient(to right, #4568dc, #b06ab3);
	align-content: center;
}

section {
	background-color: rgb(255, 255, 255, 0.5);
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: $radius;

	.card-title a {
		text-decoration: none;
	}

	.card,
	.card-body {
		text-decoration: none !important;
	}

	.card {
		background: $clr-gray300;
	}

	.icon {
		color: $clr-lavender;
		font-size: 1.2rem;
		margin-right: 0.5rem;
	}

	h5 {
		margin-bottom: 1.7rem;
		color: $clr-primary;
	}

	button {
		margin: 0.5rem 0.5rem;
	}

	form {
		padding-left: 1rem;
	}
}

.room-list {
	height: 40vh;
	overflow-x: hidden;
}

.searchBar {
	position: sticky;
	top: 11.5vh;
}
