// variables
// $clr-primary: #8bbbe2;
$clr-primary: #051d6e;
$clr-lavender: #b06ab3;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-blue: #2ab6d9;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

//gradient colors:  #4568dc, #b06ab3

// container classes
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
);
// border radius
$radius: 0.3rem;

// clear the board
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Oxygen, sans-serif;
}

// links
a,
a:visited,
a:hover {
	list-style-type: none;
}

// breakpoints
$mobile: 440px;
// Flexbox
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
